@model Events.Web.Models.EventInputModel

@{
    ViewBag.Title = "Create Event";
}
@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@
}

<h2>Create</h2>


@{
    @Html.Partial("_EventEditorForm")
}

